<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>angularJS</title>
	<script src="angular.min.js"></script>
</head>

<body>
	
<div ng-app="testApp" ng-controller="testCtrl">
	First Name:
	<input type="text" ng-model="firstName">
	<br>Last Name:
	<input type="text" ng-model="lastName">
	<br>Year:
	<input type="number" ng-model="year" value="21">
	<br>
	<br>Full Name: {{ firstName + " " + lastName + " " + year}}

</div>

<script src="testApp.js"></script>
<script src="testCtrl.js"></script>

</body>

</html>